<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="conteudo">

		<div class="jumbotron">
			<h1>iDEZ Bookstore Livraria Online</h1>
			<p class="lead">Bem vindo a iDEZBookstore!</p>
		</div>

		<center>	
			<h:form>
				<h:panelGrid columns="2" class="jumbotron" rendered="#{loginBean.existeUsusarios}">
						<h:outputText value="Nome: "/>
						<h:inputText value="#{loginBean.nome}" class="input-xlarge" placeholder="ISBN" />
						<h:outputText value="Senha: "/>
						<h:inputSecret value="#{loginBean.senha}" class="input-xlarge" placeholder="ISBN" />
						<h:column> </h:column>
						<h:commandButton value="Login" action="#{loginBean.logar}" class="btn btn-primary" />
				</h:panelGrid>
			</h:form>
		</center>
	
		<h:panelGroup class="jumbotron" rendered="#{!loginBean.existeUsusarios}">
			<center>
				<a class="btn btn-large btn-success" href="admin.xhtml">Entrar</a>
			</center>
		</h:panelGroup>

		<hr />

		<h:panelGroup class="row-fluid marketing" rendered="#{!loginBean.existeUsusarios}">
			<div class="span12">
				<h4>Ofertas</h4>
				<p>Aproveite, na compra de 2 livros, ganhe um gratis.</p>

				<h4>Novidades</h4>
				<p>
					<h:dataTable class="table table-striped"
						value="#{livroBean.lancamentos}" var="l">
						<h:column>
							<f:facet name="header">
								<h:outputText value="Titulo" />
							</f:facet>
							<h:outputText value="#{l.titulo}" />													
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Autor" />
							</f:facet>
							<h:outputText value="#{l.autor}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Editora" />
							</f:facet>
							<h:outputText value="#{l.editora}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Valor" />
							</f:facet>
							<h:outputText value="#{l.preco}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="" />
							</f:facet>

							<h:commandButton value="Comprar" actionListener="#{livroBean.comprar(c)}" />
						</h:column>
					</h:dataTable>
				</p>

				<h4>Mais comprados</h4>
				<p>Funcionalidade em desenvolvimento.</p>
			</div>
		</h:panelGroup>

		<hr />
	</ui:define>
</ui:composition>