<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="conteudo">
		<div class="jumbotron">
			<h1>iDEZ Bookstore Livraria Online</h1>
			<p class="lead">Login invalido.</p>
			<a class="btn btn-large btn-success" href="index.xhtml">Voltar para tela de login</a>
		</div>
	</ui:define>
</ui:composition>