<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="conteudo">
		<div class="container-narrow">
			<div class="masthead">
				<div class="row-fluid">
					<div class="span4">
						<h:form>
							<h:commandLink action="index.xhtml">
								<h3 class="muted">iDEZ BookStore</h3>
							</h:commandLink>
						</h:form>
					</div>
					<div class="span8 top"></div>
				</div>
			</div>
			<hr></hr>
			<div class="row-fluid">
				<div class="span4 well">
					<ul class="nav nav-list">
						<li class="nav-header">Categorias</li>
						<li><a href="cat_admin_cadastrar.xhtml">Cadastrar</a></li>
						<li><a href="cat_admin_listar.xhtml">Listar</a></li>
						<li class="divider"></li>
						<li class="nav-header">Livros</li>
						<li><a href="liv_admin_cadastrar.xhtml">Cadastrar</a></li>
						<li><a href="liv_admin_listar.xhtml">Listar</a></li>
						<li class="divider"></li>
						<li class="nav-header">Usuarios</li>
						<li><a href="usu_admin_cadastrar.xhtml">Cadastrar</a></li>
						<li><a href="usu_admin_listar.xhtml">Listar</a></li>
						<li class="divider"></li>
					</ul>
				</div>
				<div class="span8">
					<h:form>
						<h:dataTable class="table table-striped"
							value="#{usuarioBean.usuarios}" var="u">
							<h:column>
								<f:facet name="header">
									<h:outputText value="Nome" />
								</f:facet>
								<h:outputText value="#{u.nome}" />
							</h:column>
							<h:column>
								<f:facet name="header">
									<h:outputText value="Rua" />
								</f:facet>
								<h:outputText value="#{u.endereco.rua}" />
							</h:column>
							<h:column>
								<f:facet name="header">
									<h:outputText value="Bairro" />
								</f:facet>
								<h:outputText value="#{u.endereco.bairro}" />
							</h:column>
							<h:column>
								<f:facet name="header">
									<h:outputText value="Numero" />
								</f:facet>
								<h:outputText value="#{u.endereco.numero}" />
							</h:column>
							<h:column>
								<f:facet name="header">
									<h:outputText value="Data Nascimento" />
								</f:facet>
								<h:outputText value="#{u.data_nasc}" />
							</h:column>
							<h:column>
								<f:facet name="header">
									<h:outputText value="Email" />
								</f:facet>
								<h:outputText value="#{u.email}" />
							</h:column>
							<h:column>
								<f:facet name="header">
									<h:outputText value="Acoes" />
								</f:facet>

								<h:commandButton value="Remover"
									action="#{UsuarioBean.remover(u)}" />
								<h:commandButton value="Editar"
									action="#{UsuarioBean.prepararEdicao(u)}" />

							</h:column>
						</h:dataTable>
					</h:form>
				</div>
			</div>
			<hr></hr>
			<div class="footer">
				<p>iDez BookStore 2013</p>
			</div>
		</div>
	</ui:define>
</ui:composition>