<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="conteudo">
		<div class="container-narrow">
			<div class="masthead">
				<div class="row-fluid">
					<div class="span4">
						<h:form>
							<h:commandLink action="index.xhtml">
								<h3 class="muted">iDEZ BookStore</h3>
							</h:commandLink>
						</h:form>
					</div>
					<div class="span8 top"></div>
				</div>
			</div>
			<hr></hr>
			<div class="row-fluid">
				<div class="span4 well">
					<ul class="nav nav-list">
						<li class="nav-header">Categorias</li>
						<li><a href="cat_admin_cadastrar.xhtml">Cadastrar</a></li>
						<li><a href="cat_admin_listar.xhtml">Listar</a></li>
						<li class="divider"></li>
						<li class="nav-header">Livros</li>
						<li><a href="liv_admin_cadastrar.xhtml">Cadastrar</a></li>
						<li><a href="liv_admin_listar.xhtml">Listar</a></li>
						<li class="divider"></li>
						<li class="nav-header">Usuarios</li>
						<li><a href="usu_admin_cadastrar.xhtml">Cadastrar</a></li>
						<li><a href="usu_admin_listar.xhtml">Listar</a></li>
						<li class="divider"></li>
					</ul>
				</div>
				<div class="span8">
					<h:form class="form-inline">
						<div class="control-group">
							<label class="control-label" for="inputNome">Nome:</label><br />
							<h:inputText value="#{usuarioBean.usuario.nome}" id="inputNome"
								class="input-xlarge" />
							<br />
							<label class="control-label" for="inputRua">Rua:</label><br /> 
							<h:inputText value="#{usuarioBean.usuario.endereco.rua}"  id="inputRua" class="input-xlarge"/>
							<br /> 
							<label class="control-label" for="inputBairro">Bairro:</label><br /> 
							<h:inputText value="#{usuarioBean.usuario.endereco.bairro}"  id="inputBairro" class="input-xlarge"/>
							<br /> 
							<label class="control-label" for="inputNum">Numero:</label><br /> 
							<h:inputText value="#{usuarioBean.usuario.endereco.numero}"  id="inputNum" class="input-xlarge"/>
							<br /> 
							<label class="control-label" for="inputEmail">Email:</label><br />
							<h:inputText value="#{usuarioBean.usuario.email}" id="inputEmail"
								class="input-large" />
							<br /> <label class="control-label" for="inputNasc">Data
								nascimento:</label><br />
							<h:inputText value="#{usuarioBean.usuario.data_nasc}" id="inputNasc" class="input-large">
								<f:convertDateTime type="date" pattern="dd/mm/yyyy" />
							</h:inputText>
							<h:message for="inputNasc" />
							<br /> <label class="control-label" for="inputSexo">Sexo:</label><br />
							<h:inputText value="#{usuarioBean.usuario.sexo}" id="inputSexo"
								class="input-large" />
							<br /> <label class="control-label" for="inputRes">Telefone
								residencial:</label><br />
							<h:inputText value="#{usuarioBean.usuario.tel_res}" id="inputRes"
								class="input-large" />
							<br /> <label class="control-label" for="inputCel">Telefone
								celular:</label><br />
							<h:inputText value="#{usuarioBean.usuario.tel_cel}" id="inputCel"
								class="input-large" />
							<br /> <label class="control-label" for="inputCom">Telefone
								comercial:</label><br />
							<h:inputText value="#{usuarioBean.usuario.tel_com}" id="inputCom"
								class="input-large" />
							<br /> <label class="control-label" for="inputCpf">CPF:</label><br />
							<h:inputText value="#{usuarioBean.usuario.cpf}" id="inputCpf"
								class="input-large" />
							<br /> <label class="control-label" for="inputSenha">Senha:</label><br />
							<h:inputText value="#{usuarioBean.usuario.senha}" id="inputSenha"
								class="input-large" />
							<br />
						</div>
						<h:commandButton value="Cadastrar" action="#{usuarioBean.editarUsuario}"
							class="btn btn-primary" />
						<!-- <button type="reset" class="btn">Limpar</button> -->
					</h:form>
				</div>
			</div>
			<hr></hr>
			<div class="footer">
				<p>iDez BookStore 2013</p>
			</div>
		</div>
	</ui:define>
</ui:composition>